{% extends "layout/base.html" %}
{% load widget_tweaks %}

{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid mt-5 pt-3">
    <div class="row flex-nowrap ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary " style="width: auto;">

            <h3 class="text-center text-light font-weight-bold mt-4"> Votre Portefeuille </h3>

            <div class="d-flex flex-row d-none d-sm-block ">
                {% include 'dashboard/layout/credit_card.html' %}
            </div>

            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white {% comment %}min-vh-100{% endcomment %} "> 

                <div>
                    
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                <hr>
                
            </div>
        </div>
        <div class="col py-3">
            
            <div class="d-flex flex-row-reverse bd-highlight">
                <p> Votre solde est de: <strong> {{ uid_wallet.balance }} FCFA </strong> </p>
            </div>

            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Expediteur</th>
                            <th scope="col">Recepteur</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Type de Transaction</th>
                            <th scope="col">Operateur</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <th scope="row">{{ transaction.created }}</th>
                                {% if transaction.sender == None %}
                                    <td>{{ transaction.sender_number }}</td>
                                    {% else %}
                                    <td>{{ transaction.sender }}</td>
                                {% endif %}

                                {% if transaction.receiver == None %}
                                    <td>{{ transaction.receiver_number }}</td>
                                    {% else %}
                                    <td>{{ transaction.receiver }}</td>
                                {% endif %}
                                
                                <td>{{ transaction.amount }} <strong>FCFA</strong> </td>
                                <td>{{ transaction.type_transaction }}</td>
                                <td>{{ transaction.operator }}</td>
                                <td>{{ transaction.status }}</td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>

                </table>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}

