


<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary h-100" style="width: auto;">

    <h3 class="text-center text-light font-weight-bold mt-4"> Votre Portefeuille </h3>

    <div class="d-flex flex-row d-none d-sm-block ">
        {% include 'dashboard/layout/credit_card.html' %}
    </div>

    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white "> 

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">


            <li class="nav-item">
                <a {% if request.user.is_entreprise %} href="{% url 'entreprise_wallet' %}" {% elif request.user.is_personal %} href="{% url 'personal_wallet' %}" {% endif %} class="nav-link align-middle px-0">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>

            <li>
                <a {% if request.user.is_entreprise %} href="{% url 'entreprise_withdraw' %}" {% elif request.user.is_personal %}  href="{% url 'personal_accountFunding' %}" {% endif %}  class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-cash-stack"></i> <span class="ms-1 d-none d-sm-inline">Faire un depot</span></a>
            </li>
            
            <li>
                <a {% if request.user.is_entreprise %} href="{% url 'entreprise_withdraw' %}" {% elif request.user.is_personal %}  href="{% url 'personal_withdraw' %}" {% endif %}  class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-wallet2"></i> <span class="ms-1 d-none d-sm-inline">Retrait d'argent</span></a>
            </li>


            <li>
                <a {% if request.user.is_entreprise %} href="{% url 'entreprise_withdraw' %}" {% elif request.user.is_personal %}  href="{% url 'personal_transfert' %}" {% endif %}  class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-wallet2"></i> <span class="ms-1 d-none d-sm-inline">Envoi d'argent</span></a>
            </li>


            <br><br><br><br><br><br>
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Setting</span></a>
            </li>


            {% comment %} <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                    </li>
                </ul>
            </li> {% endcomment %}
            
        </ul>
        <hr>
        
    </div>
</div>